{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h3 class="blog-post-title">O mnie</h3>
        <p class="blog-post-meta"></p>
        <p>
            <blockquote class="blog-post">
                {% if profile %}
                    {% autoescape off %}{{ profile.description }}{% endautoescape %}
                    <span class="glyphicon glyphicon-map-marker"></span> {{ profile.city }}<br>
                    <span class="glyphicon glyphicon-earphone"></span> {{ profile.phone }}<br>
                    <span class="glyphicon glyphicon-envelope"></span>
                    {% autoescape off %}{{ profile.email_embed }}{% endautoescape %}
                {% endif %}
            </blockquote>
        </p>

{% endblock %}
