{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h3 class="blog-post-title">O mnie</h3>
        <p class="blog-post-meta">...</p>
        <p>
            <blockquote class="blog-post">

                <span class="glyphicon glyphicon-map-marker"></span> Lublin<br>
                <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890<br>
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:#">mateusz90@safe-mail.net</a></
            </blockquote>
        </p>

{% endblock %}
