{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if works %}
        {% for w in works %}
            <h3 class="blog-post-title">
                <a class="works" href="{% url 'work' w.id %}">{{ w.title }}</a>
            </h3>
            <p class="blog-post-meta">{{ w.meta }}</p>
            <p>
                {% if w.positions.0.image %}
                <div class="row">
                    <div class="col-sm-8">
                        <blockquote class="blog-post">
                            <a class="text" href="{% url 'work' w.id %}">
                                {% autoescape off %}
                                    {{ w.positions.0.text|truncatechars:400 }}
                                {% endautoescape %}
                            </a>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ MEDIA_URL }}{{ w.positions.0.image }}" class="img-rounded img-responsive">
                    </div>
                </div>
                {% else %}
                    <blockquote class="blog-post">
                        <a class="text" href="{% url 'work' w.id %}">
                            {% autoescape off %}
                                {{ w.positions.0.text|truncatechars:400 }}
                            {% endautoescape %}
                        </a>
                    </blockquote>
                {% endif %}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
