{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if work %}
        <script type="text/javascript">
            $(document).ready(function(ev){
            $('#custom_carousel .controls a').on('click',function(){
                $('#custom_carousel .controls li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
        });
        </script>

        <h3 class="blog-post-title">{{ work.title }}</h3>
        <p class="blog-post-meta">{{ work.meta }}</p>

        <div class="container-fluid">
            <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <div class="carousel-inner">
                <!-- Item -->
                {% for p in work.positions %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <div class="container-fluid">
                        <blockquote class="blog-post">
                            <div class="row">
                                <div class="col-md-3"><img src="{{ MEDIA_URL }}{{ p.image }}" class="img-responsive"></div>
                                <div class="col-md-9">
                                    {% autoescape off %}
                                        {{ p.text }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </blockquote>
                        </div>
                    </div>
                {% endfor %}
                <!-- End Item -->
                </div>
                <!-- Menu -->
                <div class="controls">
                    <ul class="nav navbar-nav">
                    {% for p in work.positions %}
                    <li data-target="#custom_carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}>
                        <a href="#"><img src="{{ MEDIA_URL }}{{ p.image }}" class="img-responsive carousel_small_img"></a>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
                <!-- End Menu -->
            </div>
        </div>



    {% endif %}
{% endblock %}

